/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
  --darkest-blue: hsl(20, 80%, 50%);
  --dark-blue: hsl(200, 100%, 40%);
  --mid-blue: hsl(200, 100%, 80%);
  --light-blue: hsl(200, 100%, 90%);
  --dark-green: hsl(155, 95%, 20%);
  --mid-green: hsl(118, 100%, 21%);
  --light-green: hsl(155, 95%, 80%);
  --dark-red: hsl(0, 100%, 60%);
  --mid-red: hsl(0, 95%, 50%);
  --light-red: hsl(5, 95%, 70%);
  --purple: hsla(270, 100%, 80%, .95);
  --gray1: hsl(0, 0%, 10%);
  --gray2: hsl(0, 0%, 15%);
  --gray3: hsl(0, 0%, 40%);
  --gray4: hsl(0, 0%, 50%);
  --gray5: hsl(0, 0%, 60%);
  --gray6: hsl(0, 0%, 65%);
  --gray7: hsl(0, 0%, 80%);
  --gray8: hsl(0, 0%, 90%);
}

html {
  scroll-behavior: smooth;

}


body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 600vh;
  width: 100vw ;
  max-width: 100vw;
  min-width: 99vw;
  overflow-x: hidden;
  background-color: var(--gray2);
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;

}







  /*–––––––––––––––––––––––––––––––––––––––––––––––––– */








::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray3);
}


::-webkit-scrollbar-thumb {
  background: var(--mid-blue);
}


header {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(200deg, var(--gray2)10%, var(--gray3)50% );
}

header > h1 {

  color: hsla(200,0%,35%, 0.9);
  font-family: "Montserrat Subrayada", "Droid Sans Mono", monospace;
  font-size: 2rem;
  text-align: right;
  letter-spacing: 1px;
  padding:25vw;
  text-shadow: -1px -1px 3px #d7d6d6, 2px 2px 4px #2f2d2d,-4px -4px 8px #aaa8a8, 5px 5px 10px black,
  -15px -15px 30px #aaaaaa, 15px 15px 30px black;
}

h2 {
  width: 100%;
  color: #8b8b8b;
  height: 10vh;
  font-size: 2rem;
  padding-top: 2vh;
  padding-left: 2vw;

  margin: 1vh auto;
  align-content: center;
  text-shadow: -2px -2px 4px #d7d6d6, 5px 5px 10px #2f2d2d,-5px -5px 10px #aaa8a8, 5px 5px 10px black,
  -15px -15px 30px #aaaaaa, 15px 15px 30px black;

  font-family: "Montserrat Subrayada", "Droid Sans Mono", Monaco;


;
}


h3 {
  border: 1px solid hsla(0, 0%, 67%, 0.4);
  padding: 1.5vh 2vw;
  background-color: hsla(0, 0%, 67%, 0.3);
  box-shadow: 10px 10px 40px hsla(0, 0%, 67%, 0.3);
  border-radius: 45px;
  color: var(--mid-blue);
  height: 5vh;
  margin: 0 auto;
  align-content: center;
  text-shadow: -2px -2px 4px #98ffff, 5px 5px 10px #3b5757,-5px -5px 10px #6fffff, 5px 5px 10px #080707,
  -15px -15px 30px #aaaaaa, 15px 15px 30px black;
  font-size: 1.8rem;
  font-family: "Montserrat Subrayada", "Droid Sans Mono", Monaco;
}



nav.navbar {
  height: 10vh;
  position: sticky;
  top: 0;
  width: 100vw;
  padding: 0 -10vw;
  display: flex;
  align-items:center;
  z-index:10;
  justify-content:space-around;
  background-color: var(--gray2);
  box-shadow: 0 5px 6px rgba(30, 30, 30, 0.58);
}
nav > ul {
  width: 100%;
}
nav > ul li:active {
  color: var(--mid-blue)
}






.scroll-target {
  padding-top : 15vh;
  min-height: 80vh;
  height: 85vh;
  min-width : 100vw;
  display: flex;
  flex-flow: column nowrap;

  overflow-x: hidden;
  scroll-snap-align: start;


}


#skills.scroll-target {

align-items: center;

background-color: var(--gray2);


}






#projects.scroll-target {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  min-height: 350vh;
  max-height: 800vh;
}

.card {
  min-width: 90vw ;

  max-width: 95vw;
  min-height: 60vh;
  max-height: 90vh ;
  background: -moz-linear-gradient(307deg, rgba(77,77,77,1) 0%, rgba(65,65,65,1) 32%, rgba(64,64,64,1) 37%, rgba(38,38,38,1) 59%, rgba(30,30,30,1) 83%, rgba(26,26,26,1) 97%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(77,77,77,1)), color-stop(32%, rgba(65,65,65,1)), color-stop(37%, rgba(64,64,64,1)), color-stop(59%, rgba(38,38,38,1)), color-stop(83%, rgba(30,30,30,1)), color-stop(97%, rgba(26,26,26,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(307deg, rgba(77,77,77,1) 0%, rgba(65,65,65,1) 32%, rgba(64,64,64,1) 37%, rgba(38,38,38,1) 59%, rgba(30,30,30,1) 83%, rgba(26,26,26,1) 97%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(307deg, rgba(77,77,77,1) 0%, rgba(65,65,65,1) 32%, rgba(64,64,64,1) 37%, rgba(38,38,38,1) 59%, rgba(30,30,30,1) 83%, rgba(26,26,26,1) 97%); /* opera 11.10+ */
  background: -ms-linear-gradient(307deg, rgba(77,77,77,1) 0%, rgba(65,65,65,1) 32%, rgba(64,64,64,1) 37%, rgba(38,38,38,1) 59%, rgba(30,30,30,1) 83%, rgba(26,26,26,1) 97%); /* ie10+ */
  background: linear-gradient(143deg, rgba(77,77,77,1) 0%, rgba(65,65,65,1) 32%, rgba(64,64,64,1) 37%, rgba(38,38,38,1) 59%, rgba(30,30,30,1) 83%, rgba(26,26,26,1) 97%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#1A1A1A',GradientType=0 ); /* ie6-9 */;
  font-family: "Avenir Next", serif;
  margin: 1vh auto;

  border-radius: 10px;
  font-size: 1.1rem;
  padding: 3vh 3vw;
  color:var(--mid-blue);
  box-shadow: 12px 18px 36px hsl(0,0%,8%),
  -12px -18px 36px hsl(0,0%, 28%);
;

}





.navbar > ul {
  width: 100vw;
  list-style-type: none;
  display: flex;
  color: var(--gray8);
  padding-left: 0;
  justify-content: space-around;
}

.nav-link > a {
  font-family: "Input Mono";
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--gray8);
}



section.content-main {
  width: 100vw;
  margin: 0;
  min-height: 600vh;
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
}







.project-card {
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;

  max-height: 300vh;
  font-size: 1.1rem;
  color: var(--light-blue)
}

.project-card p {
  width: 90%;
  padding: 5vw;
}

ul.img-list {
  padding: 4px 4px;
  display: flex;
  max-width: 80vw;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1vh 1vw;
  list-style: none;


}
ul.img-list li.img-list-item {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border: 2px inset var(--gray4);

}
ul.img-list li.img-list-item a {
  padding: 5px;
  display: inline-block;
  border: 1px solid #f2f2f2;
}
ul.img-list li.img-list-item  img {
  max-width: 10vw;
  max-height: 10vh;
  width: auto;
  height: auto;
  display: block;
  transition: transform 2s ease-out;
}
ul.img-list li.img-list-item:hover  img {
  transform: scale(5.5) ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message {
  color: #729d9d;
}

i {
  color: var(--dark-blue);
}

#footer{
  background-color: var(--gray6);
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 14vh;
}

ul.icons {
  list-style-type: none;
  display: flex;
  justify-content:space-around;
  width: 100%;
  align-items: center;
}

.pics {
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#projects.scroll-target {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 350vh;
  max-height: 500vh;
}
#footer a {
  color: #252525;
  text-decoration: none;
}

section#footer {
  margin: auto 0 0 0;
  position: relative;
  bottom: 0;
  box-shadow: -10px -10px 20px hsla(0,0%,65%,0.5)

}

html {color: #222;
  font-size: 1em;
  line-height: 1.4;
margin:0 auto;
}



/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 568px) {

  header > h1 {
    font-size: 3rem;
  }

  .card {
    vertical-align: middle;
    max-width: 70vw;
    min-width: 50vw;
    font-size: 1.3rem;
    min-height: 50vh;
    max-height: 90vh;
  }
  #projects.scroll-target {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 350vh;
    max-height: 800vh;
  }
  section.content-main {
    min-height: 550vh;
  }
}




/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1050px) {
  header > h1 {
    font-size: 4rem;

  }
  #projects.scroll-target {
    padding-top : 10vh;
    justify-content: flex-start;
    min-height:250vh;
  }
   {
    margin-bottom: 10vh;
  }
  #skills .card {
    max-height: 40vh;
    min-height: 30vh;
  }
#about .card {
  max-height: 40vh;
  min-height: 30vh;
}
section.content-main {
  min-height: 450vh
}

  .card {
    max-width: 45vw;
    min-width:  35vw;
    font-size: 1.3rem;
    margin-bottom: 10vh;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}





















































::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0c304d;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

